*{
    box-sizing: border-box;
}
body{
    margin: 0px;
    padding: 0px;
    background-color: black;
}
.nav-link{
    font-size: 23px;
    color: white!important;
    letter-spacing: 3px;
    border-bottom:rgb(131, 8, 8) solid 2px;
    
}
.nav-link:hover{
    border-bottom: white solid 2px;
}
.navbar{
    background-color: rgb(131, 8, 8)!important;
}
.navbar-brand{
    font-size: 25px;
    letter-spacing: 4px;
    box-shadow: 4px 4px 4px white;
}
.pop-up{
    position: relative;
    top: 200px;
    width: 1000px;
    margin: 0 auto;
    text-align: center;
}
.pop-up .cont1{
    
    padding: 30px;
    position: absolute;
    width: 100%;
}
.pop-up{
    top: -500px;
    animation: drop 2s ease forwards;
}
.cont1 h1{
    color:white;
    font-size: 100px;
    border-bottom:white solid 6px;
}
@keyframes drop{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    90%{
        transform: translateY(200px); opacity: 1;
    }
    100%{
        transform: translateY(100px);
        
    }
}
.landing{
    position: relative;
    max-width: 100%;
    height: 100vh;

}
.home-wrap{
    clip: rect(0,auto,auto,0);
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}
.home-inner{
    background-image: url('casa1.jpg');
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-size: cover;
}
.casa-1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;

}
.casa-1{
    height: 50vh;
    margin-bottom: 40px;
    margin-top: 40px;
    transition: 1s;
    cursor: pointer;
}
.casa-1 h1{
    font-size: 20px;
    background-color: rgb(131, 8, 8);
    color: white;
    padding: 10px;
}
.casa-1:hover{
    transform: scale(0.90);
    transition: 1s;
}

footer a{
    color:white;
}
footer a:hover{
    color:#dc3545!important;
    text-decoration: none;
}
.follow i{
    font-size: 25px;
}




@media(max-width:568px){
    .cont1 h1{
        font-size:45px;
    }
    .pop-up{
        width: 350px;
    }
    .home-inner{
        background-position: center;
    }
}
@media(max-width:300px){
    .pop-up{
        width: 250px;
    }
    .cont1 h1{
        font-size:35px;
    }
}